nav {
  display: flex;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  position: fixed;
}

#logo {
  font-family: 'Bungee', sans-serif;
}

.red-color {
  color: #F26419;
}