@media screen and (min-width: 1024px) {
  body {
    display: flex;
    justify-content: space-between;

  }

  main.container {
    margin-top: 150px;
    width: 40%;
  }

  .header-profile {
    max-height: 400px;
    max-width: 500px;
    padding-top: 50px;
    margin-top: 8em;
    margin-left: 2em;
  }

  div.error-msg-cont {
    font-size: 0.80em;
  }

  article.tweet {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1600px) {
  .header-profile {
    max-height: 400px;
    max-width: 500px;
    padding-top: 50px;
    margin-top: 8em;
    margin-left: 4em;
  }

  main.container {
    margin-top: 150px;
    width: 50%;
  }
}

@media screen and (max-width: 1024px) {
  nav {
    background-color: #b87b00;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");  }
}